body {
  padding-top: 70px;
}

.main-nav li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
  background-color: #4189c7;
  color: white;
}

.btn-group, 
.btn-group-vertical {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-inverse, 
.btn-inverse:hover,
.btn-inverse:focus {
  background-color: #2196f3;
  color: #b2dbfb;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #b2dbfb;
  color: #b2dbfb;
}

.content-wrapper {
  padding: 5px;
}

.checkbox-label {
  margin-left: 10px;
}

.site {
    display: flex;
    flex-direction: column;
  }
  .site-content {
    flex: 1 0 auto;
    padding: var(— space) var(— space) 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var(— space);
    height: 0;
    visibility: hidden;
  }
  .site-footer {
    background-color: #444;
    text-align: right;
    vertical-align: middle;
  }
  .site-footer-content {
    color: #fff;
    padding: 10px;
    margin-bottom: 0px;
  }
  .site-footer-anchor,
  .site-footer-anchor:hover,
  .site-footer-anchor:focus {
    color: white;
    text-decoration: none;
  }

@media (max-width: 767px) {
  .site {
    min-height: calc(100vh - 50px);
  }
}

@media (min-width: 768px) {
  .site {
    min-height: 100vh;
  }
}

#root__title {
  font-size: 4em;
  font-weight: bold;
  border-bottom: none;
}
.group__title {
  font-size: 3em;
  font-weight: bold;
  border-bottom: none;
}
div[class*="field-array"] label[for*="root_"] {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 23px;
  font-size: 19.5px;
  line-height: inherit;
  color: #212121;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.group__border {
  border: 1px solid #e5e5e5;
  padding: 10px;
  box-shadow: 5px 10px 25px #888888;
}


.errors{
  margin-top: 10px;
}